include *.txt
include *.md
include *.py
recursive-include ./Myloanapp/*

include Myloanapp/datasets/*.csv
include Myloanapp/trained_models/*.pkl
include Myloanapp/processing/*.py
include Myloanapp/VERSION
include ./tests/*

recursive-exclude * __pycache__
recursive-exclude * *.py[co]